<html>
    <head>
    
        <link href="{{url_for('static',filename='css/popup.css')}}" rel="stylesheet">
        <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
        <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <style>
            
                .a1
                {
                    margin:20px;
                    border:none;
                    outline:none;
                    height:40px;
                    background: red;
                    color:white;
                    font-size:18px;
                    border-radius:20px;
                    width:60%;
                    margin-left: auto;
                }
        
        </style>
    </head>
<body style='background-size:cover; background-image: url("{{ url_for('static',filename='img/outbg.jpg') }}")'>
<div class="container1">
<div class="wrapper fadeInDown ">
  <div id="formContent" style="background-color:black; color:white;">
    <table>
        <tr>
            <td><center><strong><p style="color: white; font-size:30px; margin-left: 180px;">RESULT</p></strong></center></td>
           <td>   <span onclick=window.open("/bt.html","_self") class="close" title="Close Modal">&times;</span>
               </td>
        </tr>
      </table>
      <img src="{{location}}" style="width: 250px; height: 250px;"><br><br>
      <p style="font-size: 35px; font-family: 'Monotype Corsive'; color: blue;">{{result}}</p>
      <button type="button" class="a1" onclick="location.href = '/';">Go To home</button>
    <!-- <form method="POST" action="/popup.html" enctype="multipart/form-data">
      <input type="text" id="login" class="fadeIn second" name="name" placeholder="Enter Name" required>
      <input type="text" id="password" class="fadeIn third" name="phone" placeholder="Enter PhnNo." required>
      <input type="email" id="password" class="fadeIn third" name="email" placeholder="Enter E-mail" required>
        <input type="text" id="login" class="fadeIn second" name="age" placeholder="Enter Age" required>
        <input type="text" id="login" class="fadeIn second" name="weight" placeholder="Enter Weight(in KGS)" required>
        <input type="text" id="login" class="fadeIn second" name="height" placeholder="Enter Height(in cms)" required>
        <input type="text" id="login" class="fadeIn second" name="gender" placeholder="Enter Gender" required>
       
        <br>
   
        <table><tr><td>
      <input type="submit" class="fadeIn fourth" value="Proceed" name="sub">
            </td>
<td>        
    <input type="reset" value="Reset" class="fadeIn fourth" style="background-color: red;">
            </td></tr>   </table></form> -->
 </div>
</div>
</div>
</body>
</html>